<form action="/create" method="POST">
  <h2>create todo</h2>
  <div class="input-field">
    <input type="text" name="title">
    <label for="">todo title</label>
  </div>
  <button type="submit" class="btn">create</button>
</form>