<h2>Todos page</h2>

{{#if todos.length}}
<ul>
  {{#each todos}}
  <li class="todo">
    <label for="">
      {{#if completed}}
      <input type="checkbox" checked>
      <span>true</span>
      <span class="completed">{{title}}</span>
      {{else}}
      <input type="checkbox" name="" id="">
      <span>false</span>
      <span>{{title}}</span>
      {{/if}}
      <button class="btn btn-small">Save</button>
    </label>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No TODOS!!!!</p>

{{/if}}